*margin{padding:0px;margin:0px;}
body
{background-color:#A4DB86;
}
#contents
{
 margin:170px auto;
 border:1px solid green;
 width:600px;
 height:380px;
background-image:url(13.jpg);
}
#hed
{ 
font-size:2em;
text-align:center;
padding-top:30px;
font-family:ºÚÌå,Î¢ÈíÑÅºÚ;
margin-bottom:-20px;
}
#logns
{
 margin:85px auto;
  border:1px solid red;
  width:300px;
  padding:10px;
}
form
{

}
.ipt
{

float:right;
margin-right:70px;
}
.btm 
{
height:25px;
width:60px;
 margin-right:30px;
 margin-top:10px;
 background-color:#9BE3CC;
 background-image:url(btm.jpg);
}